.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
}

.description-container {
  background: #282c34;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  color: #fff;
  text-align: center;
}

.so-text-bold {
  font-weight: bold;
  margin-bottom: 8px;
}